{% extends "posts/layout.html" %}
<head>
	<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
	<title>Map of Users</title>
</head>


{% block body %}

		<div id='map' width="50%" style='height: 75%;'></div>
		<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoiYmVybmFyZGxhdWdobGluIiwiYSI6ImNrZ254bzh6bTA4dnUycXBmb2x5MnhhZDEifQ.b1d2QwyPmPBNvzrPbMQ5tQ';
		var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/dark-v10',
		center: [-77.03, 38.91],
		zoom:1,
		});
		{% for x in allUsers %}
		var long = {{x.longitude}}
		var lat = {{x.lattitude}}
		var marker = new mapboxgl.Marker().setLngLat([long,lat]).
		setPopup(new mapboxgl.Popup({ offset:25 }).
		setHTML('<h5> {{x.username}} </h5> <p>{{x.city}}, {{x.state}}</p>')).
		addTo(map);
		{% endfor %}
</script>

{% endblock %}

